{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }} <!-- FlaskForm.hidden_tag() uses the app's secret key to protect from attacks. Absolutely necessary! -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group mb-2">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-0">
                    {{ form.content.label(class="form-control-label") }} (HTML Enabled)

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="row">
                <div class="col-4">
                    <div class="form-group mb-4">
                        {% if image %}
                            {{ form.picture.label("Change Picture (old picture will be overriden)") }}
                        {% else %}
                            {{ form.picture.label() }}
                        {% endif %}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors%}
                                </br><span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group mb-2">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
                <div class="col-8">
                    {% if image %}
                        <div class="form-group mb-2">
                            <p>
                                Current Picture
                                <div class="form-check mb-2">
                                    {{ form.delete_pic(class="form-check-input") }}
                                    {{ form.delete_pic.label(class="form-check-label danger") }}
                                </div>
                            </p>

                            <img title="Current Picture" src="{{ url_for('static', filename='post_pics/' + image) }}"
                                class="img-rounded img-fluid" />

                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
            <div class="form-group mt-3">
                <h4>HTML Reference</h4>
                    <div class="row">
                        <div class="col-3">
                            <ul class="list-group">
                                <li class="list-group-item active"><b>Rich Text</b></li>
                                <li class="list-group-item"><code>&lt;b&gt;</code><b>Fat text</b><code>&lt;/b&gt;</code></li>
                                <li class="list-group-item"><code>&lt;i&gt;</code><i>Italic text</i><code>&lt;/i&gt;</code></li>
                                <li class="list-group-item"><code>&lt;u&gt;</code><u>Underlined</u><code>&lt;/u&gt;</code></li>
                                <li class="list-group-item"><code>&lt;/br&gt;</code> New Line
                            </ul>
                        </div>
                        <div class="col-3"><ul class="list-group">
                            <li class="list-group-item active"><b>List</b></li>
                                <li class="list-group-item">
                                    <code>&lt;ul&gt;</code></br>
                                    <code class="ml-2">&lt;li&gt;</code>Entry 1<code>&lt;/li&gt;</code></br>
                                    <code class="ml-2">&lt;li&gt;</code>Entry 1<code>&lt;/li&gt;</code></br>
                                    <code>&lt;/ul&gt;</code>
                                </li>
                            </ul>
                            </br>
                            <!-- <ul class="list-group">
                                <li class="list-group-item active"><b>Tables</b></li>
                                <li class="list-group-item">
                                    <code>&lt;table class="table table-hover"&gt;</code></br>
                                    <code class="ml-2">&lt;tr&gt;</code></br>
                                    <code class="ml-4">&lt;th&gt;</code>Headline Col 1<code>&lt;/th&gt;</code></br>
                                    <code class="ml-4">&lt;th&gt;</code>Headline Col 2<code>&lt;/th&gt;</code></br>
                                    <code class="ml-2">&lt;/tr&gt;</code></br>
                                    <code class="ml-2">&lt;tr&gt;</code></br>
                                    <code class="ml-4">&lt;th&gt;</code>Row 1, Col 1<code>&lt;/th&gt;</code></br>
                                    <code class="ml-4">&lt;th&gt;</code>Row 1, Col 2<code>&lt;/th&gt;</code></br>
                                    <code class="ml-2">&lt;/tr&gt;</code></br>
                                    <code>&lt;/table&gt;</code>
                                </li>
                                <li class="list-group-item">Possible classes besides "<i>table-hover</i>" (the class "<i>table</i>" should always be used):
                                    <ul>
                                        <li><b>table-sm</b> (<i>Smaller table</i>)</li>
                                        <li><b>table-hover</b> (<i>Marks rows the mouse hovers over</i>)</li>
                                        <li><b>table-sm</b> (<i>Smaller table</i>)</li>
                                    </ul>
                                </li>
                            </ul> -->
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item active"><b>Links (in case automatic link creation doesn't work)</b></li>
                                <li class="list-group-item"><code>&lt;a href="</code>Link<code>"&gt;</code><a href="#">Link
                                        Text</a><code>&lt;/a&gt;</code></li>
                                <li class="list-group-item"><code>&lt;a href="</code>Link<code>" target="_blank"&gt;</code><a href="#"
                                        target="_blank">Link in new Tab</a><code>&lt;/a&gt;</code></li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>
{% endblock content %}
