{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }} <!-- FlaskForm.hidden_tag() uses the app's secret key to protect from attacks. Absolutely necessary! -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group mb-2">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {{ form.content.label(class="form-control-label") }} (HTML Enabled)

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors%}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-2">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors%}
                            </br><span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
            <div class="form-group mt-3">
                <h4>HTML Reference</h4>
                    <div class="row">
                        <div class="col-3">
                            <ul class="list-group">
                                <li class="list-group-item active"><b>Rich Text</b></li>
                                <li class="list-group-item"><code>&lt;b&gt;</code><b>Fat text</b><code>&lt;/b&gt;</code></li>
                                <li class="list-group-item"><code>&lt;i&gt;</code><i>Italic text</i><code>&lt;/i&gt;</code></li>
                                <li class="list-group-item"><code>&lt;u&gt;</code><u>Underlined</u><code>&lt;/u&gt;</code></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-item active"><b>Links</b></li>
                                <li class="list-group-item"><code>&lt;a href="</code>Link<code>"&gt;</code><a href="#">Link Text</a><code>&lt;/a&gt;</li></code>
                                <li class="list-group-item"><code>&lt;a href="</code>Link<code>" target="_blank"&gt;</code><a href="#" target="_blank">Link in new Tab</a><code>&lt;/a&gt;</code></li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>
{% endblock content %}
