{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a class="btn btn-info btn-sm float-right mr-4 mt-4" href="#">Manage</a>
    {% endif %}
    <div class="media">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + tierlist.author.image_file) }}">
        <h1>{{ tierlist.author.username }}'s Tierlist</h1>
    </div>
    {% include "tierlist.html" %}
    {% include "all_posts.html" %}

{% endblock content %}
