{% extends "layout.html" %}
{% block content%}
<h1>Search for Users</h1>
<form method="POST" action="" enctype="multipart/form-data"><div class="form-group mb-2">
    {{ search_form.hidden_tag() }} <!-- FlaskForm.hidden_tag() uses the app's secret key to protect from attacks. Absolutely necessary! -->
    {% if search_form.query.errors %}
        {{ search_form.query }}
        <div class="invalid-feedback">
            {% for error in search_form.query.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ search_form.query }}
    {% endif %}
        {{ search_form.submit(class="btn btn-sm btn-outline-info") }}
    </div>
        {% if users %}
        {% if current_user.is_admin %}
            <table class="table table-hover">
                <thead>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th colspan="2" class="table-warning">Admin Controls (Be careful here!)</th>
                </thead>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ url_for('users.profile', user_id=user.id) }}">{{ user.username }}</a>
                            {% if user == current_user %}
                            (You)
                            {% endif %}
                        </td>
                        <td>
                            {{user.email }}
                        </td>
                        <td>
                            {% if user.is_admin %}
                                Yes
                        </td>
                                {% if user != current_user %}
                        <td>
                                    <a class="btn btn-outline-info btn-sm ml-2" href="{{ url_for('users.revoke_admin', user_id=user.id) }}">Revoke Admin</a>
                                {% else %}
                        <td colspan="2">
                                    <small class="text-muted ml-2">(You cannot revoke your own admin rights)</small>
                                {% endif %}
                        </td>
                            {% else %}
                                No
                        </td>
                        <td>
                                <a class="btn btn-outline-danger btn-sm ml-2" href="{{ url_for('users.make_admin', user_id=user.id) }}">Make Admin</a>
                        </td>
                            {% endif %}
                            {% if current_user.is_admin and user != current_user %}
                        <td>
                                <a class="btn btn-outline-info btn-sm ml-2" href="{{ url_for('users.admin_login', user_id=user.id) }}">Admin Login</a>
                        </td>
                            {% else %}
                            {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <ul class="list-group list-group-flush">
                {% for user in users %}
                    <li class="list-group-item">
                        <a href="{{ url_for('users.profile', user_id=user.id) }}">{{ user.username }}</a>
                        {% if user == current_user %}
                        (You)
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endif %}

</form>

{% endblock %}
