{% extends "layout.html" %}
{% block content %}
    <h1>Sologesang - Tierlist</h1>
    Last update: {{ tierlist.last_updated.strftime('%d.%m.%Y') }}
    <table class="table table-hover table-striped table-sm">
    <tbody>
        <tr class="table-active">
            <th>RANKING</th>
            <th>CARRIES</th>
            <th>SYNERGIES</th>
            <th>CHOSEN</th>
            <th>ITEMS & POSITIONING</th>
            {% if current_user.is_authenticated and current_user.is_admin %}
                <th>Tier Up/Down</th>
                <th>Row Up/Down</th>
                <th>Comp</th>
            {% endif %}
        </tr>
        {% set current_tier = 1 %}
    	{% for comp in comps %}
            <tr>
                <td class="tier-{{ comp.tier }}">Tier {{ comp.tier }}.{{ comp.sub_tier }}</td>
                <td class="ml-2">{{ comp.carries }}</td>
                <td>{{ comp.synergies }}</td>
                <td>{{ comp.chosen }}</td>
                <td><a href="{{ comp.lolchess }}" target="_blank">Link</a></td>

                {% if current_user.is_authenticated and current_user.is_admin %}
                    <td>
                        <a class="btn btn-info btn-sm m-1" href="{{ url_for('comps.move_comp', comp_id=comp.id, direction='tier-up') }}">
                            <img src="{{ url_for('static', filename='arrow-up-tier.ico') }}" alt="Tier up" class="">
                        </a>
                        <a class="btn btn-info btn-sm m-1" href="{{ url_for('comps.move_comp', comp_id=comp.id, direction='tier-down') }}">
                            <img src="{{ url_for('static', filename='arrow-down-tier.ico') }}" alt="Tier down" class="">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm m-1" href="{{ url_for('comps.move_comp', comp_id=comp.id, direction='up') }}">
                            <img src="{{ url_for('static', filename='arrow-up-sub-tier.ico') }}" alt="Sub Tier up" class="">
                        </a>
                        <a class="btn btn-info btn-sm m-1" href="{{ url_for('comps.move_comp', comp_id=comp.id, direction='down') }}">
                            <img src="{{ url_for('static', filename='arrow-down-sub-tier.ico') }}" alt="Sub Tier down" class="">
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm m-1" href="{{ url_for('comps.update_comp', comp_id=comp.id) }}">Edit</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ comp.id }}">Delete</button>
                    </td>
                {% endif %}
            </tr>

            <!-- Modal from https://getbootstrap.com/docs/4.3/components/modal/#live-demo -->
            <div class="modal fade" id="deleteModal{{ comp.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Comp? (Carries: {{ comp.carries }})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('comps.delete_comp', comp_id=comp.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
    	{% endfor %}
    </tbody>
    </table>


{% endblock content %}
